.todo-add-main {
  padding: 20px 40px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  input {
    outline: none;
    border: 2px solid darkolivegreen;
    border-radius: 8px;
    padding: 8px;
    font-size: 18px;
  }
  .add {
    padding: 10px;
    border: 1px solid black;
  }
}